.card-projects {
    width: 20rem;
    height: 19rem;
    cursor: pointer;
}

img {
    width: 100%;
    height: 70%;
}

h2 {
    margin-top: 1rem;
    color: #06d33d;
}

.stacks {
    color: #5F6368;
}

@media (min-width: 320px) and (max-width: 767px) {
    .card-projects {
        width: 18rem;
        height: 17rem;
    }
}